@import '_variables.scss';
@import '_buttons.scss';

header{
    background-color: $cor-primaria;


    .menu{
        nav{
            ul{
                list-style: none;
                li{
                    a{
                        color: green;
                        text-decoration: none;
                    }
                }
            }
           
        }
    }
}

.card{
    display: flex;
    &-img{
        width: 100%;
    }

    &-descricao{
        font-size: 20px;
    }
}

.button{
    @include button(orange, #ff7b00);
}

.button-gray{
    @include button(#8a8a8a, #474747);
}

section {
    padding: $espacamento;
}

@import '_footer.scss';
